<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path("home") }}">My Ultra Private club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('test') }}">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('senior') }}">Senior</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('photo_less') }}">PhotoLess</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('women') }}">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('add_member') }}">Ajouter un client</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block body %}
{% endblock %}

{% block footer %}
    <footer>The Ultimate Club with only premium members</footer>
{% endblock %}
</body>

</html>
