{% extends 'base.html.twig' %}

{% block title %}Hello SchoolController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos écoles</h1>
    <div class="row">
        {% for school in schools %}
            <div class="col-6">
                <h2><a href="{{ path('school', {id:school.id}) }}">{{ school.name }}</a></h2>
                <img class="w-25" src="{{ school.photo }}" alt="">
                <p>{{ school.adress }}</p>
                <p>{{ school.city }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
